* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}
h1 {
    color: #F17537
}
h4 {
    color: #F17537
}
h3 {
    color: #F17537
}
form {
    color: #F17537
}
th {
    color: #F17537
}
td {
    color: #F17537
}
dl 
{
    color: #F17537
}